<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form id="loginForm" action="index.php" method="post">
        <input type="text" id="username" placeholder="Email" required>
        <br>
        <input type="password" id="password" placeholder="password" required>
        <br>
        <select name="role" required>
          <option value="">-- Sélectionner un rôle --</option>
          <option value="medecin">Médecin</option>
          <option value="patient">Patient</option>
          <option value="secretaire">Secrétaire</option>
        </select>
        <br>
        <button type="submit">Se connecter</button>
        <p id="error" class="error-message"></p>
      </form>
</body>
</html>